body {
  text-align: center;
}
h1 {
  padding-top: 109px;
}
li {
  display: inline;
  float: left;
  padding: 8px;
}
.liRight {
  float: right;
}

.footer {
  position: fixed;

  bottom: 5px;
  width: 100%;
  background-color: gray;
  color: white;
}
